h3, h4 {
  margin-bottom: 0;
}

h3 {
  @include media-query(palm) {
    font-size: 1.25rem;
  }
}

h4 {
  @include media-query(palm) {
    font-size: 1.1rem;
  }
}

.text {}
  .text--strong {
    font-weight: 600;
  }
  .text--right {
    text-align: right;
  }