.welcome-word {
  //border: 1px solid $dark--light;
  padding: $inuit-base-spacing-unit--small;
  background-color: $light--dark;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  @include card(1);
  
  & img {
    width: 100px;
    border-radius: 50px;
  }

  .flag__img {
    @include media-query(palm) {
      display: none;
    }
  }
}