.header {
  background-color: $dark;
  padding: $inuit-base-spacing-unit;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}