.main-menu {
  text-align: right;

  @include media-query(palm) {
    max-height: 0;
    display: block;
    overflow: hidden;
    text-align: left;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  > ul {
    @include media-query(palm) {
      //margin-top:  halve($inuit-base-spacing-unit);
      //padding-top: halve($inuit-base-spacing-unit);
      border-top: 1px solid $dark--light;
    }
  }

  &__item {
    $border-weight: 4px;
    //border-right: 1px dotted $light;

    @include media-query(palm) {
      width: 100%;
      //padding: halve($inuit-base-spacing-unit) 0;
      border-right: none;
    }

    > a, > a:active, > a:visited {
      padding: 14px $inuit-base-spacing-unit 15px;
      //border-bottom: $border-weight solid transparent;
      color: $light;
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      @include media-query(palm) {
        border-bottom: none;
        display: block;
      }
      @include media-query(lap) {
        padding: 15px 15px 15px;
      }
    }
      > a:hover {
        color: $light--dark;
        //border-bottom: $border-weight solid $light--dark;
        @include media-query(palm) {
          border-bottom: none;
        }
      }

    &:hover, &:focus {
      > a {
        background-color: $light--dark;
        color: $dark;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
      
      @include media-query(palm) {
        border-bottom: none;
        background-color: $light--dark;
        > a {
          color: $dark;
          padding-left: halve($inuit-base-spacing-unit);
          -webkit-transition: padding-left 0.5s;
          -moz-transition: padding-left 0.5s;
          -ms-transition: padding-left 0.5s;
          -o-transition: padding-left 0.5s;
          transition: padding-left 0.5s;
        }
      }
    }

    @-moz-document url-prefix() {
      > a, > a:active, > a:visited {
        padding: 15px 24px 14px;
      }
    }
    
  }
    &__item:last-child {
      border-right: none;
    }

    @include media-query(palm) {

    }
}
  .main-menu--active {
    max-height: 268px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
