.main {
  height: 100%;
  width:  100%;
  color: $dark;
  padding: $inuit-base-spacing-unit 0;
  background-color: $light;
  @include media-query(lap) {
    padding: $inuit-base-spacing-unit;
  }
  @include media-query(palm) {
    padding: $inuit-base-spacing-unit--small;
  }
}