.#{$inuit-namespace}project {
  padding: 0 halve($inuit-base-spacing-unit);
  //border-bottom: 1px solid $light--dark;
  @include media-query(palm) {
    padding: halve($inuit-base-spacing-unit);
  }
  
  &__name {
    font-size: 1.2em;
    padding: halve($inuit-base-spacing-unit);
    
    outline: none;
    cursor: pointer;

    > span {
      border-bottom: 1px dotted;
    }

    &.ui-accordion-header-active {
      background-color: $light--dark;
    }
  }
  &__content {
    padding: halve($inuit-base-spacing-unit);
    background-color: $light;
    &.ui-accordion-content-active {
      border-bottom: 1px solid $light;
    }
  }
  &__link {
    color: $dark;
    text-decoration: none;
    border-bottom: 1px solid $dark;
  }
    &__link:hover {
      color: $dark--light;
      border-bottom: none;
    }
  &__issue {}
  &__technologies {}
  &__example {}
}
  .#{$inuit-namespace}project:last-child {
    border:none;
  }