.#{$inuit-namespace}project {
  padding: $inuit-base-spacing-unit halve($inuit-base-spacing-unit);
  border-bottom: 1px solid $light--dark;
  @include media-query(palm) {
    padding: halve($inuit-base-spacing-unit);
  }
  
  &__name {
    font-size: 1.2em;
    padding-bottom: halve($inuit-base-spacing-unit);
  }
  &__link {
    color: $dark;
    text-decoration: none;
    border-bottom: 1px solid $dark;
  }
    &__link:hover {
      color: $dark--light;
      border-bottom: none;
    }
  &__issue {}
  &__technologies {}
  &__example {}
}
  .#{$inuit-namespace}project:last-child {
    border:none;
  }