ul {
  list-style-type: none;
  margin-top: 0;
  
  @include media-query(palm) {
    padding-left: halve($inuit-base-spacing-unit);
  }
  
  > li > div, > li > i.mdi
  { display: table-cell }

  > li:before {

  }
}