/* COLORS */
$dark:        #004D40;
$dark--light: #00695C;
$neutral:     #009688;
$light:       #E0F2F1;
$light--dark: #B2DFDB;




/* INUIT VARIABLES */
$inuit-base-text-color: $light;






/* FONTS */

body {
  font-family: 'Roboto', sans-serif;
}