/* COLORS */
$dark:        #004D40;
$dark--light: #00695C;
$neutral:     #009688;
$light:       #E0F2F1;
$light--dark: #B2DFDB;
$grey:        #E0E0E0;




  /* INUIT VARIABLES */
$inuit-base-text-color: white;






/* FONTS */

body {
  font-family: 'Roboto', sans-serif;
}

a, a:visited, a:hover, a:focus {
  color: $dark--light;
}

h3, h4 {
  margin-bottom: 0;
}